<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DIServer.DbServer" value="128.0.0.4" />
    <add key="DIServer.DbUserName" value="sa" />
    <add key="DIServer.DbUserPassword" value="Ceo2015*" />
    <add key="DIServer.DbType" value="8" />
    <add key="DIServer.DbName" value="MOSABASE" />
    <!--MOSABASE  PRUEBASMOSABASE -->
    <add key="DIServer.CompanyUserName" value="manager" />
    <add key="DIServer.CompanyUserPass" value="soymacizo" />
    <add key="DIServer.LicenseServer" value="128.0.0.10:30000" />
    <add key="DIServer.Language" value="ln_Spanish" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>